<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/app.js"></script>
         <link rel="icon" href="/img/weather.png"
    </head>
        <body>
            <div class="main-content">
            {{>headerr}}
            {{!-- <h1>{{title}}</h1> --}}
            <img class="portrait" src="./img/Penguins.jpg">
            {{!-- <p>Create by {{name}}</p> --}}
            </div>

            {{>footer}}
        </body>
 
</html>